<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Conversion</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <!-- Link to our CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app" class="wrapper">
        <div class="container">
            <label for="celsius">Celsius</label>
            <input type="number" v-model="celsius" @input="convertToFahrenheit">
        </div>
        <div class="container">
            <label for="fahrenheit">Fahrenheit</label>
            <input type="number" v-model="fahrenheit" @input="convertToCelsius">
        </div>
    </div>

    <!-- Script for our Vue instance -->
    <script src="script.js"></script>
</body>

</html>